.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  margin:0;
  padding:0;
}

body, html {
  overflow: hidden;
}

body {
  font: 100% / 1.5 Arial;
}

.pulsetotem_logo {
  height: 100%;
}
