/* Global */
.block_title {
  background-color: #323232;
  text-align: center;
  border-bottom: 1px solid #37ABC8;
  min-height: 10vh;
  line-height: normal;
}

.block_title h1 {
  color: #37ABC8;
  font-weight: bold;
  padding-top: 10px;
  font-size: 5vh;
}

.block_title h3 {
  color: white;
  font-size: 3vh;
  font-weight: normal;
  padding-bottom: 10px;
}

/* PP */
#home {
  position: relative;
  min-height: 100vh;
}

#pp_block_content {
  height: 100vh;
}

.pp_carousel_container {
  width: 100%;
  height: 100%;
}

.pp_carousel {
  height: 100%;
  width: 100%;
}

.pp_carousel_indicator_container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.pp_carousel_indicator {
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 2em;
  width: 100%;
}

.pp_carousel_indicator .rn-carousel-indicator span.active {
  color: #37ABC8;
}

.pp_carousel_indicator .rn-carousel-indicator span:focus {
  outline: none;
}

.pp_background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
}

.pp_container {
  position: absolute;
  bottom: 16%;
  left: 0;
  right: 0;
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  height: 10%;
}

.pp_title {
  height: 55%;
}

.pp_subtitle {
  color: #37ABC8;
  height: 40%;
}

/* Solution */
#solution {
  position: relative;
  min-height: 100vh;
}

#solution_av_list {
  flex: 1 1 0%;
  margin: 5px;
}

.av_container {
  border: 1px solid #37ABC8;
}

.av_container md-grid-tile-footer, .av_container md-grid-tile-header {
  border-top: 1px solid #323232;
  background-color: #37ABC8;
}

.av_container md-grid-tile-footer figcaption, .av_container md-grid-tile-header figcaption {
  font-weight: bold;
  color: white;
  margin-right: auto;
  margin-left: auto;
}

.av_icon {
  width: 50%;
  height: 50%;
  color: #37ABC8;
}

.av_icon_details {
  color: white;
  margin-bottom: 5px;
  margin-right: 5px;
}

.av_details {
  position: absolute;
  right: 0%;
  color: #37ABC8;
  width: 50px;
  height: 50px;
}

.av_details_close {
  position: absolute;
  right: 0%;
  color: white;
  width: 50px;
  height: 50px;
}

.av_description {

}

/* Contact */
.contact_block {
  background-color: #ffa726;
  text-align: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.contact_title {
  color: white;
  font-weight: bold;
  border-bottom: 1px solid white;
}

.contact_mini_form {
  padding-top: 10px;
  padding-bottom: 5px;
}

.contact_miniform_input_container {
  padding-bottom: 0px;
}

.contact_miniform_input_container label {
  color: white;
}

.contact_email_icon {
  color: white;
}

.contact_miniform_input_email {
  color: white !important;
  border-color: white !important;
}

.contact_miniform_button span {
  font-weight: bold;
  color: #37ABC8;
}

.contact_miniform_input_container.md-input-focused label {
  color: white !important;
}

.md-input-focused .contact_email_icon {
  color: white !important;
}

.md-input-focused .contact_miniform_input_email {
  color: white !important;
  border-color: white !important;
}

/* Done work */
#productions {
  position: relative;
  min-height: 100vh;
}

#productions_block_content {
  height: 80vh;
  background-color: black;
}

.productions_carousel_container {
  width: 100%;
  height: 80%;
}

.productions_carousel {
  height: 100%;
  width: 100%;
}

.productions_carousel_indicator_container {
  width: 100%;
  height: 8vh;
  position: absolute;
  bottom: 10vh;
}

.productions_carousel_indicator {
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 2em;
  width: 100%;
}

.productions_carousel_indicator .rn-carousel-indicator span.active {
  color: #37ABC8;
}

.productions_carousel_indicator .rn-carousel-indicator span:focus {
  outline: none;
}

.production_background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 42px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.production_container {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  height: 10%;
}

.production_title {
  height: 55%;
}

.production_subtitle {
  color: #37ABC8;
  height: 40%;
}

.production_more_container {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  color: #37ABC8;
  text-align: center;
  height: 10%;
}

.production_more_container_sm {
  display: none;
  height: auto !important;
  bottom: auto !important;
  top: 20%;
}

.production_more_container_sm_button {
  position: absolute;
  bottom: 25%;
  background-color: #37ABC8 !important;
}

.production_more_container_sm_button_icon {
  color: white !important;
}

.production_more_container_sm_open {
  display: block !important;
}


/* About Us */
#aboutus {
  position: relative;
  min-height: 90vh;
}

#aboutus_block_content_tabs {
  min-height: 85vh;
}

#aboutus_block_content_tabs md-tab-content {
  padding: 1%;
}

.ipe_logo {
  max-width: 100%;
}

.rewards_title {
  color: #37ABC8;
  font-weight: bold;
}

.rewards_logo {
  width: 100px !important;
  height: 100px !important;
  margin-top: 20px !important;
}

.rewards_description {
  padding-top: 41px !important;
}

.team_username {
  background-color: #37ABC8;
  color: white;
  font-weight: bold;
  text-align: center;
}

/* Contact Us */
#contactus {
  background-color: #37ABC8;
  text-align: center;
}

.contact_form_button {
  background-color: #37ABC8 !important;
}

.contact_form_button span {
  font-weight: bold;
  color: white;
}

/* Footer */
#footer_block {
  background-color: #323232;
  min-height: 150px;
}
