<!doctype html>
<html class="no-js" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" lang="fr-FR">
    <head>
        <meta charset="utf-8">

        <base href="/">

        <title>PulseTotem</title>
        <meta name="description" content="PulseTotem">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <meta name="robots" content="noydir">
      <meta name="description" content="Bienvenue sur le site web de PulseTotem. Welcome on PulseTotem's Website.">
      <meta name="keywords" content="affichage dynamique, interaction, affichage numérique, affichage digital, affichage, digital, digital signage">
      <link rel="canonical" href="http://www.pulsetotem.fr/">
      <meta property="og:locale" content="fr_FR">
      <meta property="og:title" content="PulseTotem">
      <meta property="og:description" content="Bienvenue sur le site web de PulseTotem. Welcome on PulseTotem's Website.">
      <meta property="og:url" content="http://www.pulsetotem.fr/">
      <meta property="og:site_name" content="PulseTotem">
      <meta property="og:image" content="http://www.pulsetotem.fr/images/logos/pulseTotem_logo_h60.png">
      <meta property="og:image" content="http://www-test.pulsetotem.fr/images/icons/apple-icon-180x180.png">
      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="@pulsetotem">
      <meta name="twitter:domain" content="PulseTotem">
      <meta name="twitter:creator" content="@pulsetotem">



        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="images/icons//favicon.ico" type="image/x-icon">
        <link rel="icon" href="images/icons//favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" sizes="57x57" href="images/icons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="images/icons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="images/icons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/icons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="images/icons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="images/icons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="images/icons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="images/icons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="images/icons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="images/icons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/icons/favicon-16x16.png">
        <link rel="manifest" href="images/icons/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="images/icons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
        <link rel="stylesheet" href="bower_components/angular-carousel/dist/angular-carousel.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css" />
        <link rel="stylesheet" href="styles/common/menu-home.css" />
        <link rel="stylesheet" href="styles/common/home.css" />
        <!-- endbuild -->

      <!-- SocketIO -->
        <script src="https://cdn.socket.io/socket.io-1.3.2.js"></script>
        <!-- script src="http://localhost:4000/socket.io/socket.io.js"></script -->
        <!-- endSocketIO -->

      <!-- recaptcha -->
      <script src='https://www.google.com/recaptcha/api.js'></script>

    </head>
  <body layout="column" layout-fill ng-app="pulsetotemApp" ng-controller="PulseTotemCommon.GlobalCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <!-- Show sm -->
    <div layout="row" ng-if="screenIsSmall" ng-controller="PulseTotemCommon.MenuCtrl" class="home_toolbar_sm_container">
      <md-toolbar ng-class="{'home_toolbar' : header == 'home' && scroll <= 150, 'home_toolbar home_toolbar_opaque' : header == 'home' && scroll > 150}" scroll-position="scroll" ng-include="'common/views/menu-' + header + '-sm.html'" ng-controller="PulseTotemCommon.MenuCtrl">

      </md-toolbar>

      <md-sidenav class="md-sidenav-left md-whiteframe-z2 home_toolbar_sm_sidenav" md-component-id="left" ng-include="'common/views/sidenav-' + header + '-sm.html'" ng-controller="PulseTotemCommon.MenuCtrl">

      </md-sidenav>

      <div layout="column" layout-fill ng-view>

      </div>
    </div>




    <!-- Show gt-md -->
    <md-toolbar ng-if="!screenIsSmall" ng-class="{'home_toolbar' : header == 'home' && scroll <= 150, 'home_toolbar home_toolbar_opaque' : header == 'home' && scroll > 150}" scroll-position="scroll" ng-include="'common/views/menu-' + header + '.html'" ng-controller="PulseTotemCommon.MenuCtrl" hide show-gt-md>

    </md-toolbar>

    <div ng-if="! screenIsSmall" layout="column" layout-fill ng-view>

    </div>

    <!-- div class="footer">
      <div class="container-fluid">
        <p>&copy; PulseTotem / 2015 from the <a href="http://www.pulsetotem.fr/">PulseTotem team</a></p>
      </div>
    </div -->


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-69426538-1', 'auto');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-socket-io/socket.js"></script>
    <script src="bower_components/jsSHA/src/sha.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/angular-translate-handler-log/angular-translate-handler-log.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-carousel/dist/angular-carousel.js"></script>
    <script src="bower_components/jquery-textfill/source/jquery.textfill.js"></script>
    <script src="bower_components/angular-textfill/angular-textfill.js"></script>
    <script src="bower_components/scrollReveal.js/dist/scrollReveal.js"></script>
    <script src="bower_components/fox-angular-scrollReveal.js/dist/fox-angular-scrollReveal.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="main/app.js"></script>
    <script src="main/translation.js"></script>
    <script src="main/routes.js"></script>

    <script src="common/common.js"></script>
    <script src="common/services/constants.js"></script>
    <script src="common/services/backendSocket.js"></script>
    <script src="common/services/callbackManager.js"></script>
    <script src="common/directives/scrollPosition.js"></script>
    <script src="common/controllers/global.js"></script>
    <script src="common/controllers/menu.js"></script>
    <script src="common/controllers/home.js"></script>
    <script src="common/controllers/login.js"></script>

    <!-- endbuild -->
</body>
</html>
