<!-- div data-sr-container='{ "reset":true }' -->
<div>
  <div layout="column" id="home">
    <div layout="column" id="pp_block_content">
      <div layout="row" ng-class="{'pp_block_subtitle' : scroll2 <= 150, 'pp_block_subtitle pp_block_subtitle_none' : scroll2 > 150}" scroll-position="scroll2">
        {{ 'HOME.SUBTITLE' | translate}}
      </div>
      <div layout="row" class="pp_carousel_container">
          <ul rn-carousel rn-carousel-index="ppCarouselIndex" rn-carousel-auto-slide=10 rn-carousel-controls-allow-loop class="pp_carousel">
            <li ng-repeat="pp in ppArray">
              <div class="pp_background" style="background-image: url('{{pp.image}}')" >
              </div>
              <div class="pp_container">
                <div translate="{{pp.title}}" class="pp_title"></div>
                <div translate="{{pp.subtitle}}" class="pp_subtitle"></div>
              </div>
              <div layout="row" layout-align="center center" class="pp_action_container">
                <md-button ng-if="pp.blog != null" class="md-raised pp_action" aria-label="{{ 'HOME.MORE' | translate }}" ng-href="{{pp.blog}}" target="_blank">
                  {{ 'HOME.MORE' | translate }}
                </md-button>
                <md-button ng-if="pp.contactus" class="md-raised pp_action" aria-label="{{ 'HOME.CONTACTUS' | translate }}" du-smooth-scroll="contactus">
                  {{ 'HOME.CONTACTUS' | translate }}
                </md-button>
              </div>
            </li>
          </ul>
      </div>
      <div layout="row" class="pp_carousel_indicator_container">
        <div rn-carousel-indicators ng-if="ppArray.length > 1" slides="ppArray" rn-carousel-index="ppCarouselIndex" class="pp_carousel_indicator">
        </div>
      </div>
    </div>
  </div>

  <div layout="column" id="solution">
      <div class="md-display-1 block_title">
        <h1>{{ 'MENU.SOLUTION' | translate }}</h1>
        <h3><span>PulseTotem</span> {{'SOLUTION.DESCRIPTION' | translate}}.</h3>
      </div>
      <div layout="row" layout-sm="column" layout-align="space-around center" layout-margin layout-wrap>
        <div class="av_container" ng-repeat="av in avRow1" flex="100" flex-gt-sm="40" flex-gt-md="20" ng-mouseenter="av.showDescription=true" ng-mouseleave="av.showDescription=false">
          <md-icon ng-if="!av.showDescription" class="av_icon" md-svg-icon="{{av.icon}}"></md-icon>
          <md-icon ng-if="!av.showDescription && screenIsSmall" class="av_details" md-svg-icon="./bower_components/material-design-icons/image/svg/production/ic_loupe_48px.svg" ng-click="av.showDescription=true"></md-icon>

          <div ng-if="!av.showDescription" class="av_tile_footer">
            <span class="av_title" translate="{{av.title}}"></span>
          </div>
          <div ng-if="av.showDescription" class="av_tile_header">
            <md-icon class="av_icon_details" md-svg-icon="{{av.icon}}"></md-icon>
            <span class="av_title" translate="{{av.title}}"></span>
            <md-icon ng-if="av.showDescription && screenIsSmall" class="av_details_close" md-svg-icon="./bower_components/material-design-icons/navigation/svg/production/ic_close_48px.svg" ng-click="av.showDescription=false"></md-icon>
          </div>
          <div ng-if="av.showDescription" translate="{{av.description}}" class="av_description">
          </div>
        </div>
      </div>
    <!-- div data-sr='wait 0.2s scale up 20%' layout="column" class="contact_block">
      <h1 class="md-title contact_title">Contact Us !</h1>
      <div layout="row" layout-align="center" class="contact_mini_form">
        <md-input-container class="md-icon-float md-default-theme contact_miniform_input_container">
          <md-icon md-svg-src="./bower_components/material-design-icons/content/svg/production/ic_mail_24px.svg" class="contact_email_icon"></md-icon>
          <input ng-model="contact.email" type="email" placeholder="Email" class="contact_miniform_input_email">
        </md-input-container>
        <md-button class="md-raised contact_miniform_button" du-smooth-scroll="contactus">Contact Us !</md-button>
      </div>
    </div-->
  </div>

  <div layout="column" id="productions">
    <div class="md-display-1 block_title">
      <h1>{{ 'MENU.PRODUCTIONS' | translate }}</h1>
      <h3><span>PulseTotem</span> {{ 'PRODUCTIONS.DESCRIPTION' | translate }}.</h3>
    </div>
    <div layout="column" id="productions_block_content">
      <div layout="row" class="productions_carousel_container">
        <ul rn-carousel rn-carousel-index="productionsCarouselIndex" rn-carousel-auto-slide=10 rn-carousel-controls-allow-loop class="productions_carousel">
          <li ng-repeat="production in productionsArray">
            <div layout="column" layout-fill layout-gt-md="row">
              <div class="production_container" flex="100" flex-gt-md="30">
                <div class="production_title" translate="{{production.title}}"></div>
                <div class="production_subtitle" translate="{{ production.subtitle}}"></div>
              </div>
              <div flex="100" flex-gt-md="70" ng-class="{'production_background' : !screenIsSmall, 'production_background production_background_sm' : screenIsSmall}" style="background-image: url('{{production.image}}')" ng-cloak>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div layout="row" class="productions_carousel_indicator_container">
        <div rn-carousel-indicators ng-if="productionsArray.length > 1" slides="productionsArray" rn-carousel-index="productionsCarouselIndex" class="productions_carousel_indicator">
        </div>
      </div>
    </div>
  </div>

  <!-- div data-sr='wait 0.2s scale up 20%' layout="column" class="contact_block">
    <h1 class="md-title contact_title">Contact Us !</h1>
    <div layout="row" layout-align="center" class="contact_mini_form">
      <md-input-container class="md-icon-float md-default-theme contact_miniform_input_container">
        <md-icon md-svg-src="./bower_components/material-design-icons/content/svg/production/ic_mail_24px.svg" class="contact_email_icon"></md-icon>
        <input ng-model="contact.email" type="email" placeholder="Email" class="contact_miniform_input_email">
      </md-input-container>
      <md-button class="md-raised contact_miniform_button" du-smooth-scroll="contactus">Contact Us !</md-button>
    </div>
  </div-->

  <div layout="column" id="aboutus">
    <div class="md-display-1 block_title">
      <h1>{{ 'MENU.ABOUTUS' | translate }}</h1>
    </div>
    <div layout="row" layout-align="space-around center">
      <md-card flex="auto" flex-gt-md="30">
        <img src="images/team/Christian.png" class="md-card-image" alt="Christian">
        <md-card-content>
          <h2 class="md-title team_username">Christian</h2>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
      </md-card>
      <md-card flex="auto" flex-gt-md="30">
        <img src="images/team/Simon.jpg" class="md-card-image" alt="Simon">
        <md-card-content>
          <h2 class="md-title team_username">Simon</h2>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
      </md-card>
    </div>
  </div>

  <!-- div layout="column" id="aboutus">
    <div class="md-display-1 block_title">
      <h1>About us</h1>
    </div>
    <div layout flex>
      <md-button ng-if="screenIsSmall" class="md-icon-button md-raised aboutus_navbar_menu" aria-label="AboutUsMenu" ng-click="aboutus_navbar_open=!aboutus_navbar_open">
        <md-icon ng-if="aboutus_navbar_open" md-svg-icon="./bower_components/material-design-icons/navigation/svg/production/ic_chevron_left_48px.svg"></md-icon>
        <md-icon ng-if="!aboutus_navbar_open" md-svg-icon="./bower_components/material-design-icons/navigation/svg/production/ic_chevron_right_48px.svg"></md-icon>
      </md-button>
      <md-sidenav ng-class="{'md-sidenav-left md-whiteframe-z2 aboutus_navbar aboutus_navbar_close' : !aboutus_navbar_open, 'md-sidenav-left md-whiteframe-z2 aboutus_navbar' : aboutus_navbar_open}" md-component-id="left_aboutus" md-is-locked-open="true">
        <md-content>
          <div layout="column" layout-fill>
            <md-button ng-class="{'md-raised selectedMenu' : aboutus_navbar_menu=='pulsetotem', 'md-raised' : aboutus_navbar_menu!='pulsetotem'}" aria-label="PulseTotem" ng-click="toggleLeftAboutMenu('pulsetotem')">
              PulseTotem
            </md-button>
            <md-button ng-class="{'md-raised selectedMenu' : aboutus_navbar_menu=='team', 'md-raised' : aboutus_navbar_menu!='team'}" aria-label="{{'ABOUT_US.TEAM' | translate}}" ng-click="toggleLeftAboutMenu('team')">
              {{'ABOUT_US.TEAM' | translate}}
            </md-button>
            <md-button ng-class="{'md-raised selectedMenu' : aboutus_navbar_menu=='where', 'md-raised' : aboutus_navbar_menu!='where'}" aria-label="{{'ABOUT_US.WHERE' | translate}}" ng-click="toggleLeftAboutMenu('where')">
              {{'ABOUT_US.WHERE' | translate}}
            </md-button>
            <md-button ng-class="{'md-raised selectedMenu' : aboutus_navbar_menu=='awards', 'md-raised' : aboutus_navbar_menu!='awards'}" aria-label="{{'ABOUT_US.AWARDS' | translate}}" ng-click="toggleLeftAboutMenu('awards')">
              {{'ABOUT_US.AWARDS' | translate}}
            </md-button>
          </div>
        </md-content>
      </md-sidenav>
      <md-content flex layout-padding>
        <div layout ng-if="aboutus_navbar_menu=='pulsetotem'">
          <h1 class="md-display-1">PulseTotem</h1>
          <p>
            Les systèmes d'affichages dynamiques sont aujourd'hui en plein essor et pratiquement omniprésents : la partie visible de ces systèmes sont les écrans que l'on retrouve aussi bien dans les gares ou les aéroports que dans les universités et les entreprises.
            Cependant ces systèmes sont fondés sur des principes de communication antérieurs à l'ère du Web 2.0 et ne permettent pas de profiter de l'ensemble des contenus générés directement par les utilisateurs.
          </p>
          <br/>
          <p>
            Ainsi l'essor des réseaux sociaux et de l'information disponible en temps réel et géolocalisée nous pousse à imaginer une nouvelle forme de communication sur écran.
            Nous proposons ainsi une solution logicielle (en mode SaaS) permettant de créer et gérer son affichage dynamique en intégrant aussi bien des contenus informatifs traditionnels (textes, images, vidéos) que des informations temps réels et interactives provenant de différentes sources.
            Nous souhaitons ainsi engager davantage les spectateurs dans les informations diffusées à l'écran, garantir la fraîcheur de l'information et faciliter la gestion d'un parc d'écrans.
          </p>
          <br/>
          <p>
            Enfin, les écrans étant de plus en plus présents autour de nous, il nous semble nécessaire de repenser la relation que les usagers ont avec ces différents écrans.
            Nous proposons pour cela d'améliorer l'expérience utilisateur par l'ajout d'interactions directs entre l'écran et l'usager, en proposant à ce dernier de prendre le contrôle de l'écran ou encore de récupérer des informations fournies par l'écran, avec son smartphone, une tablette, l'interaction tactile, l'interaction gestuelle ou encore l'interaction vocale.
          </p>
        </div>
        <div layout ng-if="aboutus_navbar_menu=='team'">
          <h1 class="md-display-1">{{'ABOUT_US.TEAM' | translate}}</h1>
          <div layout="row" layout-align="space-around center">
            <md-card flex="auto" flex-gt-md="30">
              <img src="images/team/Christian.png" class="md-card-image" alt="Christian">
              <md-card-content>
                <h2 class="md-title team_username">Christian</h2>
                <p>
                  The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                  two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
              </md-card-content>
            </md-card>
            <md-card flex="auto" flex-gt-md="30">
              <img src="images/team/Simon.jpg" class="md-card-image" alt="Simon">
              <md-card-content>
                <h2 class="md-title team_username">Simon</h2>
                <p>
                  The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                  two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
              </md-card-content>
            </md-card>
          </div>
        </div>
        <div layout ng-if="aboutus_navbar_menu=='where'">
          <div layout layout-sm="column">
            <div flex="20">
              <h1 class="md-display-1">{{'ABOUT_US.WHERE' | translate}}</h1>
              <p>Business Pole</p>
              <p>1047 Route des Dolines - Allee Pierre Ziller</p>
              <p>06900 Valbonne Sophia-Antipolis</p>
              <p>France</p>
              <br/>
              <p>
                Accompagné et hébergé par <a href="http://www.incubateurpacaest.org">l'Incubateur Paca-Est</a>
                <img src="images/logos/ipe_logo.jpg" aria-label="Logo Incubateur Paca-Est" class="ipe_logo" />
              </p>
            </div>
            <div flex></div>
            <div flex="75">
              <iframe src="https://mapsengine.google.com/map/embed?mid=zLgURc0UvE04.kGH3kkOlb8yE" width="100%" height="480px"></iframe>
            </div>
          </div>
        </div>
        <div layout ng-if="aboutus_navbar_menu=='awards'">
          <h1 class="md-display-1">{{'ABOUT_US.AWARDS' | translate}}</h1>
          <div layout="row" ng-repeat="reward in rewards">
            <img ng-src="{{reward.logo}}" class="md-avatar rewards_logo" alt="{{reward.name}}" />
            <div class="rewards_description">
              <h2>{{ reward.name }}</h2>
              <p>{{reward.description}}</p>
            </div>
          </div>
        </div>
      </md-content>
    </div>
  </div -->
  <div layout="column" id="contactus">
    <div class="md-display-1 block_title">
      <h1>{{ 'MENU.CONTACTUS' | translate }}</h1>
    </div>
    <div layout="column" layout-gt-md="row">
      <md-content flex="100" flex-gt-md="60">
        <form name="contactForm">
          <div layout layout-sm="column">
            <md-input-container flex>
              <label>{{'CONTACTUS.FIRSTNAME' | translate}}</label>
              <input ng-model="contact.firstName" >
            </md-input-container>
            <md-input-container flex>
              <label>{{'CONTACTUS.LASTNAME' | translate}}</label>
              <input ng-model="theMax">
            </md-input-container>
            <md-input-container flex>
              <label>{{'CONTACTUS.EMAIL' | translate}}</label>
              <input ng-model="contact.email" type="email">
            </md-input-container>
          </div>
          <div layout layout-sm="column">
            <md-input-container flex>
              <label>{{'CONTACTUS.FUNCTION' | translate}}</label>
              <input ng-model="contact.function">
            </md-input-container>
            <md-input-container flex>
              <label>{{'CONTACTUS.COMPANY' | translate}}</label>
              <input ng-model="contact.company">
            </md-input-container>
          </div>
          <md-input-container flex>
            <label>{{'CONTACTUS.MESSAGE' | translate}}</label>
            <textarea ng-model="contact.message" columns="1" rows="5"></textarea>
          </md-input-container>
          <md-button class="md-raised contact_form_button">{{'CONTACTUS.SEND' | translate}} !</md-button>
        </form>
      </md-content>
      <div flex="100" flex-gt-md="40" class="contactus_where">
        <md-list ng-cloak>
          <md-list-item>
            <md-icon md-svg-icon="./bower_components/material-design-icons/communication/svg/production/ic_email_48px.svg"></md-icon>
            <p>contact@pulsetotem.fr</p>
          </md-list-item>
          <md-list-item>
            <md-icon class="contactus_icon" md-svg-icon="./images/social/twitter.svg"></md-icon>
            <p><a href="http://twitter.com/pulsetotem">@pulsetotem</a></p>
          </md-list-item>
          <md-list-item>
            <md-icon class="contactus_icon" md-svg-icon="./images/social/linkedin.svg"></md-icon>
            <p><a href="https://www.linkedin.com/company/pulsetotem">company/pulsetotem</a></p>
          </md-list-item>
          <md-list-item>
            <md-icon class="contactus_icon" md-svg-icon="./images/social/facebook.svg"></md-icon>
            <p><a href="http://www.facebook.com/pulsetotem">@pulsetotem</a></p>
          </md-list-item>
          <md-list-item>
            <md-icon md-svg-icon="./bower_components/material-design-icons/maps/svg/production/ic_place_48px.svg"></md-icon>
            <p>
              Business Pole, Bat. B - Entrée A - Etage 2<br/>
              1047 Route des Dolines - Allée Pierre Ziller<br/>
              06900 Valbonne Sophia-Antipolis<br/>
              France
            </p>
          </md-list-item>
        </md-list>
        <iframe src="https://mapsengine.google.com/map/embed?mid=zLgURc0UvE04.kGH3kkOlb8yE" width="90%" height="300px"></iframe>
      </div>
    </div>
  </div>

  <div layout="column" id="supporters">
    <div class="md-display-1 block_title">
      <h1>{{ 'MENU.SUPPORTERS' | translate }}</h1>
    </div>
    <div class="supporters_list" layout="row" layout-sm="column" layout-align="space-around center" layout-margin layout-wrap>
      <div ng-repeat="supporter in supporters" class="supporter" style="background-image: url('{{supporter.logo}}')" flex="100" flex-gt-sm="40" flex-gt-md="20">
      </div>
    </div>
  </div>

  <div layout="row" layout-align="space-around start" id="footer_block">
    <div flex>
      <p>Accompagné et hébergé par l'Incubateur Paca-Est</p>
      <p>1047 Route des Dolines, Allée Pierre Ziller, 06900 Valbonne Sophia-Antipolis</p>
      <p>&copy; 2015 PulseTotem</p>
    </div>
    <div flex>
      <md-button class="md-icon-button" aria-label="Email" href="mailto:contact@pulsetotem.fr" target="_blank">
        <md-icon class="contactus_icon" md-svg-icon="./bower_components/material-design-icons/communication/svg/production/ic_email_48px.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Twitter" href="http://twitter.com/pulsetotem" target="_blank">
        <md-icon class="contactus_icon" md-svg-icon="./images/social/twitter.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="LinkedIn" href="https://www.linkedin.com/company/pulsetotem" target="_blank">
        <md-icon class="contactus_icon" md-svg-icon="./images/social/linkedin.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Facebook" href="http://www.facebook.com/pulsetotem" target="_blank">
        <md-icon class="contactus_icon" md-svg-icon="./images/social/facebook.svg"></md-icon>
      </md-button>
    </div>
  </div>
</div>
