<div layout="column" class="home_content">
  <div class="parallax">
    <div id="group1" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="pp_carousel_container">
          <ul rn-carousel rn-carousel-index="ppCarouselIndex" rn-carousel-auto-slide=10 rn-carousel-controls-allow-loop class="pp_carousel">
            <li ng-repeat="pp in ppArray">
              <div class="pp_background" style="background-image: url('{{pp.image}}')" >
              </div>
              <div class="pp_container" ng-class="{'pp_container_blacktheme' : ! pp.whiteTheme, 'pp_container_whitetheme' : pp.whiteTheme }">
                <div class="pp_title">{{pp.title}}</div>
                <div class="pp_subtitle">{{pp.subtitle}}</div>
              </div>
            </li>
          </ul>
        </div>
        <div rn-carousel-indicators ng-if="ppArray.length > 1" slides="ppArray" rn-carousel-index="ppCarouselIndex" class="pp_carousel_indicator">
        </div>
      </div>
    </div>
    <div id="group2" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div id="solution_bg">

        </div>
        <div layout="column" id="solution_details">
          <div class="solution_row" layout="row" layout-align="space-around center">
            <div class="av_container" ng-repeat="av in avRow1">
              <md-icon class="av_icon" md-svg-icon="{{av.icon}}"></md-icon>
              <div class="av_text">
                {{av.text}}
              </div>
            </div>
          </div>
          <div class="solution_row" layout="row" layout-align="space-around center">
            <div class="av_container" ng-repeat="av in avRow2">
              <md-icon class="av_icon" md-svg-icon="{{av.icon}}"></md-icon>
              <div class="av_text">
                {{av.text}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="group3" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Contactez nous !</div>
      </div>
    </div>
    <!--
    <div id="group4" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--back">
        <div class="title">Background Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--deep">
        <div class="title">Deep Background Layer</div>
      </div>
    </div>
    <div id="group5" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title">Foreground Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
    </div>
    <div id="group6" class="parallax__group">
      <div class="parallax__layer parallax__layer--back">
        <div class="title">Background Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
    </div>
    <div id="group7" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
    </div>
    -->
  </div>
</div>
