<div data-sr-container='{ "reset":true }'>
  <div layout="column" id="home">
    <div layout="column" id="pp_block_content">
      <div layout="row" class="pp_carousel_container">
          <ul rn-carousel rn-carousel-index="ppCarouselIndex" rn-carousel-auto-slide=10 rn-carousel-controls-allow-loop class="pp_carousel">
            <li ng-repeat="pp in ppArray">
              <div class="pp_background" style="background-image: url('{{pp.image}}')" >
              </div>
              <div class="pp_container">
                <div textfill="{{pp.title}}" max-font-pixels="500" class="pp_title"></div>
                <div textfill="{{pp.subtitle}}" max-font-pixels="500" class="pp_subtitle"></div>
              </div>
            </li>
          </ul>
      </div>
      <div layout="row" class="pp_carousel_indicator_container">
        <div rn-carousel-indicators ng-if="ppArray.length > 1" slides="ppArray" rn-carousel-index="ppCarouselIndex" class="pp_carousel_indicator">
        </div>
      </div>
    </div>
  </div>

  <div layout="column" id="solution">
      <h1 class="md-display-1 block_title">Solution</h1>
        <md-grid-list
          md-cols-sm="1" md-cols-md="2" md-cols-gt-md="4" md-row-height="3:2"
          md-gutter="5px" md-gutter-gt-sm="8px" id="solution_av_list">
          <md-grid-tile class="av_container" ng-repeat="av in avRow1" ng-init="showDescription=false" ng-mouseenter="showDescription=true" ng-mouseleave="showDescription=false">
            <md-icon ng-if="!showDescription" class="av_icon" md-svg-icon="{{av.icon}}"></md-icon>
            <md-icon ng-if="!showDescription" class="av_details" md-svg-icon="./bower_components/material-design-icons/image/svg/production/ic_loupe_48px.svg" ng-click="showDescription=true"></md-icon>
            <md-grid-tile-footer ng-if="!showDescription">
              <span class="md-title">{{av.title}}</span>
            </md-grid-tile-footer>
            <md-grid-tile-header ng-if="showDescription">
              <md-icon class="av_icon_details" md-svg-icon="{{av.icon}}"></md-icon><span class="md-title">{{av.title}}</span>
            </md-grid-tile-header>
            <md-icon ng-if="showDescription" class="av_details_close" md-svg-icon="./bower_components/material-design-icons/navigation/svg/production/ic_close_48px.svg" ng-click="showDescription=false"></md-icon>
            <md-content flex layout-padding ng-if="showDescription">
              {{av.description}}
            </md-content>
          </md-grid-tile>
        </md-grid-list>
  </div>

  <div data-sr='wait 0.2s scale up 20%' layout="column" class="contact_block">
    <h1 class="md-title contact_title">Contact Us !</h1>
    <div layout="row" layout-align="center" class="contact_mini_form">
      <md-input-container class="md-icon-float md-default-theme contact_miniform_input_container">
        <md-icon md-svg-src="./bower_components/material-design-icons/content/svg/production/ic_mail_24px.svg" class="contact_email_icon"></md-icon>
        <input ng-model="contact.email" type="email" placeholder="Email" class="contact_miniform_input_email">
      </md-input-container>
      <md-button class="md-raised contact_miniform_button" du-smooth-scroll="contactus">Contact Us !</md-button>
    </div>
  </div>

  <div layout="column" id="productions">
    <div layout="column" id="productions_block_content">
      <h1 class="md-display-1 block_title">Some Productions</h1>
      <div layout="row" class="productions_carousel_container">
        <ul rn-carousel rn-carousel-index="productionsCarouselIndex" rn-carousel-auto-slide=10 rn-carousel-controls-allow-loop class="productions_carousel">
          <li ng-repeat="production in productionsArray">
            <div class="production_background" style="background-image: url('{{production.image}}')" >
            </div>
            <div class="production_container">
              <div textfill="{{production.title}}" max-font-pixels="500" class="production_title"></div>
              <div textfill="{{production.subtitle}}" max-font-pixels="500" class="production_subtitle"></div>
            </div>
            <div ng-class="{'production_more_container production_more_container_sm': screenIsSmall, 'production_more_container production_more_container_sm production_more_container_sm_open': screenIsSmall && production.IsOpen, 'production_more_container': !screenIsSmall}">
              <div textfill="{{production.description}}" max-font-pixels="500" class="production_description"></div>
            </div>
            <md-button ng-if="screenIsSmall" class="md-icon-button md-raised production_more_container_sm_button" aria-label="More" ng-click="production.IsOpen=!production.IsOpen">
              <md-icon ng-if="!production.IsOpen" md-svg-icon="./bower_components/material-design-icons/navigation/svg/production/ic_more_vert_48px.svg" class="production_more_container_sm_button_icon"></md-icon>
              <md-icon ng-if="production.IsOpen" md-svg-icon="./bower_components/material-design-icons/navigation/svg/production/ic_more_horiz_48px.svg" class="production_more_container_sm_button_icon"></md-icon>
            </md-button>
          </li>
        </ul>
      </div>
      <div layout="row" class="productions_carousel_indicator_container">
        <div rn-carousel-indicators ng-if="productionsArray.length > 1" slides="productionsArray" rn-carousel-index="productionsCarouselIndex" class="productions_carousel_indicator">
        </div>
      </div>
    </div>
  </div>

  <div data-sr='wait 0.2s scale up 20%' layout="column" class="contact_block">
    <h1 class="md-title contact_title">Contact Us !</h1>
    <div layout="row" layout-align="center" class="contact_mini_form">
      <md-input-container class="md-icon-float md-default-theme contact_miniform_input_container">
        <md-icon md-svg-src="./bower_components/material-design-icons/content/svg/production/ic_mail_24px.svg" class="contact_email_icon"></md-icon>
        <input ng-model="contact.email" type="email" placeholder="Email" class="contact_miniform_input_email">
      </md-input-container>
      <md-button class="md-raised contact_miniform_button" du-smooth-scroll="contactus">Contact Us !</md-button>
    </div>
  </div>

  <div layout="column" id="aboutus">
    <h1 class="md-display-1 block_title">About Us !</h1>
    <md-tabs id="aboutus_block_content_tabs" md-swipe-content>
      <md-tab label="PulseTotem">
          <h1 class="md-display-1">PulseTotem</h1>
          <p>
            Les systèmes d'affichages dynamiques sont aujourd'hui en plein essor et pratiquement omniprésents : la partie visible de ces systèmes sont les écrans que l'on retrouve aussi bien dans les gares ou les aéroports que dans les universités et les entreprises.
            Cependant ces systèmes sont fondés sur des principes de communication antérieurs à l'ère du Web 2.0 et ne permettent pas de profiter de l'ensemble des contenus générés directement par les utilisateurs.
          </p>
          <br/>
          <p>
            Ainsi l'essor des réseaux sociaux et de l'information disponible en temps réel et géolocalisée nous pousse à imaginer une nouvelle forme de communication sur écran.
            Nous proposons ainsi une solution logicielle (en mode SaaS) permettant de créer et gérer son affichage dynamique en intégrant aussi bien des contenus informatifs traditionnels (textes, images, vidéos) que des informations temps réels et interactives provenant de différentes sources.
            Nous souhaitons ainsi engager davantage les spectateurs dans les informations diffusées à l'écran, garantir la fraîcheur de l'information et faciliter la gestion d'un parc d'écrans.
          </p>
          <br/>
          <p>
            Enfin, les écrans étant de plus en plus présents autour de nous, il nous semble nécessaire de repenser la relation que les usagers ont avec ces différents écrans.
            Nous proposons pour cela d'améliorer l'expérience utilisateur par l'ajout d'interactions directs entre l'écran et l'usager, en proposant à ce dernier de prendre le contrôle de l'écran ou encore de récupérer des informations fournies par l'écran, avec son smartphone, une tablette, l'interaction tactile, l'interaction gestuelle ou encore l'interaction vocale.
          </p>
          <br/>
          <h1 class="md-headline rewards_title">Rewards</h1>
          <md-list-item class="md-2-line" ng-repeat="reward in rewards">
            <img ng-src="{{reward.logo}}" class="md-avatar rewards_logo" alt="{{reward.name}}" />
            <div class="md-list-item-text rewards_description">
              <h2>{{ reward.name }}</h2>
              <p>{{reward.description}}</p>
            </div>
          </md-list-item>
      </md-tab>
      <md-tab label="Team">
          <h1 class="md-display-1">Team</h1>
          <div layout="row" layout-align="space-around center">
            <md-card flex="auto" flex-gt-md="30">
              <img src="images/team/Christian.png" class="md-card-image" alt="Christian">
              <md-card-content>
                <h2 class="md-title team_username">Christian</h2>
                <p>
                  The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                  two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
              </md-card-content>
            </md-card>
            <md-card flex="auto" flex-gt-md="30">
              <img src="images/team/Simon.jpg" class="md-card-image" alt="Simon">
              <md-card-content>
                <h2 class="md-title team_username">Simon</h2>
                <p>
                  The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                  two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
              </md-card-content>
            </md-card>
          </div>
      </md-tab>
      <md-tab label="Where to find us ?">
          <div layout layout-sm="column">
            <div flex="20">
              <h1 class="md-display-1">Where to find us ?</h1>
              <p>Business Pole</p>
              <p>1047 Route des Dolines - Allee Pierre Ziller</p>
              <p>06900 Valbonne Sophia-Antipolis</p>
              <p>France</p>
              <br/>
              <p>
                Accompagné et hébergé par <a href="http://www.incubateurpacaest.org">l'Incubateur Paca-Est</a>
                <img src="images/logos/ipe_logo.jpg" aria-label="Logo Incubateur Paca-Est" class="ipe_logo" />
              </p>
            </div>
            <div flex></div>
            <div flex="75">
              <iframe src="https://mapsengine.google.com/map/embed?mid=zLgURc0UvE04.kGH3kkOlb8yE" width="100%" height="480px"></iframe>
            </div>
          </div>
      </md-tab>
    </md-tabs>
  </div>
  <div layout="column" id="contactus">
    <h1 class="md-display-1 block_title">Contact Us !</h1>
    <md-content layout-padding>
      <form name="contactForm">
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>First name</label>
            <input ng-model="contact.firstName" >
          </md-input-container>
          <md-input-container flex>
            <label>Last Name</label>
            <input ng-model="theMax">
          </md-input-container>
          <md-input-container flex>
            <label>Email</label>
            <input ng-model="contact.email" type="email">
          </md-input-container>
        </div>
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Function</label>
            <input ng-model="contact.function">
          </md-input-container>
          <md-input-container flex>
            <label>Company</label>
            <input ng-model="contact.company">
          </md-input-container>
        </div>
        <md-input-container flex>
          <label>Message</label>
          <textarea ng-model="contact.message" columns="1" rows="5"></textarea>
        </md-input-container>
        <md-button class="md-raised contact_form_button">Send !</md-button>
      </form>
    </md-content>
  </div>

  <div layout="column" id="footer_block">

  </div>
</div>
