<div class="md-toolbar-tools">
  <md-button class="md-icon-button md-raised menu_shortcut" aria-label="Menu" ng-click="toggleLeft()">
    <md-icon md-svg-icon="./bower_components/material-design-icons/navigation/svg/production/ic_menu_48px.svg" class="menu_shortcut_icon"></md-icon>
  </md-button>

  <span flex></span>

  <img src="images/logos/pulseTotem_logo_h60.png" class="pulsetotem_logo pulsetotem_logo_sm" du-smooth-scroll="home" />
  <!-- fill up the space between left and right area -->
  <span flex></span>

  <md-button ng-if="langKey=='fr'" class="md-icon-button" aria-label="{{ 'MENU.ENGLISH' | translate }}" ng-click="changeLanguage('en')">
    <img src="/images/flags/en.png" class="lang_flag" alt="{{ 'MENU.ENGLISH' | translate }}" />
  </md-button>
  <md-button ng-if="langKey=='en'" class="md-icon-button" aria-label="{{ 'MENU.FRENCH' | translate }}" ng-click="changeLanguage('fr')">
    <img src="/images/flags/fr.png" class="lang_flag" alt="{{ 'MENU.FRENCH' | translate }}" />
  </md-button>
</div>
