<div class="md-toolbar-tools">
  <img src="images/logos/pulseTotem_logo_h60.png" class="pulsetotem_logo" du-smooth-scroll="home" />
  <!-- fill up the space between left and right area -->
  <span flex></span>
  <md-button class="md-raised" aria-label="{{ 'MENU.HOME' | translate }}" du-scrollspy="home" du-smooth-scroll="home">
    {{ 'MENU.HOME' | translate }}
  </md-button>
  <md-button class="md-raised" aria-label="{{ 'MENU.SOLUTION' | translate }}" du-scrollspy="solution" du-smooth-scroll="solution">
    {{ 'MENU.SOLUTION' | translate }}
  </md-button>
  <md-button class="md-raised" aria-label="{{ 'MENU.PRODUCTIONS' | translate }}" du-scrollspy="productions" du-smooth-scroll="productions">
    {{ 'MENU.PRODUCTIONS' | translate }}
  </md-button>
  <md-button class="md-raised" aria-label="{{ 'MENU.ABOUTUS' | translate }}" du-scrollspy="aboutus" du-smooth-scroll="aboutus">
    {{ 'MENU.ABOUTUS' | translate }}
  </md-button>
  <md-button class="md-raised" aria-label="{{ 'MENU.CONTACTUS' | translate }}" du-scrollspy="contactus" du-smooth-scroll="contactus">
    {{ 'MENU.CONTACTUS' | translate }}
  </md-button>
  <md-button class="md-raised" aria-label="{{ 'MENU.BLOG' | translate }}" ng-href="http://blog.pulsetotem.fr" target="_blank">
    {{ 'MENU.BLOG' | translate }}
  </md-button>
  <md-button ng-if="langKey=='fr'" class="md-icon-button" aria-label="{{ 'MENU.ENGLISH' | translate }}" ng-click="changeLanguage('en')">
    <img src="/images/flags/en.png" class="lang_flag" alt="{{ 'MENU.ENGLISH' | translate }}" />
  </md-button>
  <md-button ng-if="langKey=='en'" class="md-icon-button" aria-label="{{ 'MENU.FRENCH' | translate }}" ng-click="changeLanguage('fr')">
    <img src="/images/flags/fr.png" class="lang_flag" alt="{{ 'MENU.FRENCH' | translate }}" />
  </md-button>
</div>
