<div class="md-toolbar-tools">
  <img src="images/logos/pulseTotem_logo_h60.png" class="pulsetotem_logo" />
  <!-- fill up the space between left and right area -->
  <span flex></span>
  <md-button ng-if="langKey=='fr'" class="md-icon-button" aria-label="{{ 'MENU.ENGLISH' | translate }}" ng-click="changeLanguage('en')">
    <img src="/images/flags/en.png" class="img-responsive" alt="{{ 'MENU.ENGLISH' | translate }}" />
  </md-button>
  <md-button ng-if="langKey=='en'" class="md-icon-button" aria-label="{{ 'MENU.FRENCH' | translate }}" ng-click="changeLanguage('fr')">
    <img src="/images/flags/fr.png" class="img-responsive" alt="{{ 'MENU.FRENCH' | translate }}" />
  </md-button>
</div>
